---
layout: archive
title: "People"
permalink: /people/
author_profile: true
---

{% include base_path %}


{% assign pe = site.people | sort: 'order' %}

{% for post in pe %}
  {% include archive-single.html %}
{% endfor %}

<h2>Alumni</h2>

{% for post in site.alumni %}
  {% include archive-people.html %}
{% endfor %}



<div class="notion-scroller horizontal"
  style="flex-grow: 1; flex-shrink: 0; z-index: 1; overflow: auto hidden;margin-right: 0px; margin-bottom: 0px;width: 900px;max-width: 100%;display: flex;align-items: center;flex-direction: column;font-size: 16px;line-height: 1.5;padding-left: calc(96px + env(safe-area-inset-left));padding-right: calc(96px + env(safe-area-inset-right));padding-bottom: 30vh;">
  <div class="notion-gallery-view" style="padding-bottom: 0px; padding-left: 96px; padding-right: 96px;">
    <div data-block-id="f8bcbfc7-759c-46ee-a04b-289c0281e5ca" class="notion-selectable notion-collection_view-block"
      style="display: grid; position: relative; grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); grid-auto-rows: 1fr; gap: 16px; border-top: 1px solid rgb(223, 223, 222); padding-top: 16px; padding-bottom: 4px;">
      <div style="width: 4px; position: absolute; top: 16px; bottom: 0px;">
        <div data-block-id="f8bcbfc7-759c-46ee-a04b-289c0281e5ca" class="notion-selectable notion-collection_view-block"
          style="width: 100%; height: 100%;"></div>
      </div>
      <div data-block-id="daeb57d4-207e-4eba-b00c-a05473e1cbdb"
        class="notion-selectable notion-page-block notion-collection-item" style=""><a
          href="/omlab/Otero-Millan-Jorge-daeb57d4207e4ebab00ca05473e1cbdb" rel="noopener noreferrer"
          style="display: block; color: inherit; text-decoration: none; box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px; border-radius: 3px; background: white; overflow: hidden; transition: background 100ms ease-out 0s; position: static; height: 100%;">
          <div class="notion-focusable" role="button" tabindex="-1"
            style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%; display: flex; flex-direction: column; height: 100%;">
            <div style="position: relative; width: 100%;">
              <div style="width: 100%; cursor: inherit;">
                <div style="height: 126.562px; position: relative; pointer-events: none; overflow: hidden;">
                  <div style="width: 100%; height: 100%;"><img
                      src="/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fdc8440a2-7405-46db-b12b-3a0514af4831%2FPIS_102.jpg?table=block&amp;id=daeb57d4-207e-4eba-b00c-a05473e1cbdb&amp;spaceId=75450f02-4cae-4ea4-8c66-07030dff8897&amp;width=450&amp;userId=c508e8ce-cd3a-4dba-bbb7-4b7888b7a5e8&amp;cache=v2"
                      style="display: block; object-fit: cover; border-radius: 1px 1px 0px 0px; width: 100%; height: 126.562px; object-position: center 27.69%;">
                  </div>
                  <div
                    style="position: absolute; left: 0px; right: 0px; bottom: 0px; border-bottom: 1px solid rgba(55, 53, 47, 0.09);">
                  </div>
                </div>
              </div>
              <div
                style="color: rgba(55, 53, 47, 0.6); fill: rgba(55, 53, 47, 0.6); font-size: 12px; background: white; box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px; display: flex; white-space: nowrap; border-radius: 3px; max-width: calc(100% - 16px); min-height: 24px; overflow: hidden; pointer-events: none; opacity: 0; font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, &quot;Apple Color Emoji&quot;, Arial, sans-serif, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; position: absolute; right: 8px; z-index: 2; top: 8px;">
                <div class="notion-focusable" role="button" tabindex="-1"
                  style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; display: flex; align-items: center; padding: 4px 6px; border-right: 1px solid rgba(55, 53, 47, 0.09); font-weight: 500; color: rgba(55, 53, 47, 0.6); fill: rgba(55, 53, 47, 0.6);">
                  Reposition</div>
                <div class="notion-focusable" role="button" tabindex="-1"
                  style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; display: flex; align-items: center; padding: 4px 6px; border-right: none; font-weight: 500; color: rgba(55, 53, 47, 0.6); fill: rgba(55, 53, 47, 0.6);">
                  <svg viewBox="0 0 13 3" class="dots"
                    style="width: 14px; height: 14px; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden;">
                    <g>
                      <path d="M3,1.5A1.5,1.5,0,1,1,1.5,0,1.5,1.5,0,0,1,3,1.5Z"></path>
                      <path d="M8,1.5A1.5,1.5,0,1,1,6.5,0,1.5,1.5,0,0,1,8,1.5Z"></path>
                      <path d="M13,1.5A1.5,1.5,0,1,1,11.5,0,1.5,1.5,0,0,1,13,1.5Z"></path>
                    </g>
                  </svg></div>
              </div>
            </div>
            <div style="width: 100%; padding: 8px 10px 6px;">
              <div contenteditable="false" spellcheck="true" placeholder="Untitled" data-root="true" class=""
                style="max-width: 100%; width: auto; white-space: nowrap; word-break: break-word; caret-color: rgb(55, 53, 47); font-size: 14px; line-height: 1.5; min-height: 21px; font-weight: 500; overflow: hidden; text-overflow: ellipsis; pointer-events: none;">
                <span>Otero-Millan, Jorge</span></div>
            </div>
            <div style="padding-top: 0px; padding-left: 10px; padding-bottom: 10px;">
              <div style="display: flex; align-items: center; font-size: 12px; height: 24px; white-space: nowrap;"><a
                  href="mailto:jom@berkeley.edu" rel="noopener noreferrer"
                  style="display: inline-flex; color: inherit; text-decoration: none;">
                  <div class="notion-focusable" role="button" tabindex="-1"
                    style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; flex-shrink: 1; padding: 0px 4px; margin-left: -4px; border-radius: 3px;">
                    <span
                      style="line-height: 1.2; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; background-image: linear-gradient(to right, rgba(55, 53, 47, 0.16) 0%, rgba(55, 53, 47, 0.16) 100%); background-repeat: repeat-x; background-position: 0px 100%; background-size: 100% 1px;">jom@berkeley.edu</span>
                  </div>
                </a></div>
              <div
                style="display: flex; align-items: center; font-size: 12px; height: 24px; white-space: nowrap; padding-right: 8px;">
                <span
                  style="line-height: 1.2; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><span>410
                    Minor Hall Addition</span></span></div>
            </div>
          </div>
        </a></div>
      <div data-block-id="2a0caa2c-f532-4600-8e05-ff0e438bf927"
        class="notion-selectable notion-page-block notion-collection-item" style=""><a
          href="/omlab/Winnick-Ariel-2a0caa2cf53246008e05ff0e438bf927" rel="noopener noreferrer"
          style="display: block; color: inherit; text-decoration: none; box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px; border-radius: 3px; background: white; overflow: hidden; transition: background 100ms ease-out 0s; position: static; height: 100%;">
          <div class="notion-focusable" role="button" tabindex="-1"
            style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%; display: flex; flex-direction: column; height: 100%;">
            <div style="position: relative; width: 100%;">
              <div style="width: 100%; cursor: inherit;">
                <div style="height: 126.562px; position: relative; pointer-events: none; overflow: hidden;">
                  <div style="width: 100%; height: 100%;"><img
                      src="/image/https%3A%2F%2Fwww.notion.so%2Fimages%2Fpage-cover%2Fgradients_8.png?table=block&amp;id=2a0caa2c-f532-4600-8e05-ff0e438bf927&amp;spaceId=75450f02-4cae-4ea4-8c66-07030dff8897&amp;width=450&amp;userId=c508e8ce-cd3a-4dba-bbb7-4b7888b7a5e8&amp;cache=v2"
                      style="display: block; object-fit: cover; border-radius: 1px 1px 0px 0px; width: 100%; height: 126.562px; object-position: center 70%;">
                  </div>
                  <div
                    style="position: absolute; left: 0px; right: 0px; bottom: 0px; border-bottom: 1px solid rgba(55, 53, 47, 0.09);">
                  </div>
                </div>
              </div>
              <div
                style="color: rgba(55, 53, 47, 0.6); fill: rgba(55, 53, 47, 0.6); font-size: 12px; background: white; box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px; display: flex; white-space: nowrap; border-radius: 3px; max-width: calc(100% - 16px); min-height: 24px; overflow: hidden; pointer-events: none; opacity: 0; font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, &quot;Apple Color Emoji&quot;, Arial, sans-serif, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; position: absolute; right: 8px; z-index: 2; top: 8px;">
                <div class="notion-focusable" role="button" tabindex="-1"
                  style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; display: flex; align-items: center; padding: 4px 6px; border-right: 1px solid rgba(55, 53, 47, 0.09); font-weight: 500; color: rgba(55, 53, 47, 0.6); fill: rgba(55, 53, 47, 0.6);">
                  Reposition</div>
                <div class="notion-focusable" role="button" tabindex="-1"
                  style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; display: flex; align-items: center; padding: 4px 6px; border-right: none; font-weight: 500; color: rgba(55, 53, 47, 0.6); fill: rgba(55, 53, 47, 0.6);">
                  <svg viewBox="0 0 13 3" class="dots"
                    style="width: 14px; height: 14px; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden;">
                    <g>
                      <path d="M3,1.5A1.5,1.5,0,1,1,1.5,0,1.5,1.5,0,0,1,3,1.5Z"></path>
                      <path d="M8,1.5A1.5,1.5,0,1,1,6.5,0,1.5,1.5,0,0,1,8,1.5Z"></path>
                      <path d="M13,1.5A1.5,1.5,0,1,1,11.5,0,1.5,1.5,0,0,1,13,1.5Z"></path>
                    </g>
                  </svg></div>
              </div>
            </div>
            <div style="width: 100%; padding: 8px 10px 6px;">
              <div class="notion-record-icon notranslate notion-focusable" role="button" aria-disabled="true"
                tabindex="-1"
                style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 18px; width: 18px; border-radius: 3px; flex-shrink: 0; float: left; margin-top: 2px; margin-right: 4px; margin-left: -2px;">
                <svg viewBox="0 0 30 30" class="page"
                  style="width: 16.2px; height: 16.2px; display: block; fill: rgba(55, 53, 47, 0.8); flex-shrink: 0; backface-visibility: hidden;">
                  <g>
                    <path
                      d="M16,1H4v28h22V11L16,1z M16,3.828L23.172,11H16V3.828z M24,27H6V3h8v10h10V27z M8,17h14v-2H8V17z M8,21h14v-2H8V21z M8,25h14v-2H8V25z">
                    </path>
                  </g>
                </svg></div>
              <div contenteditable="false" spellcheck="true" placeholder="Untitled" data-root="true" class=""
                style="max-width: 100%; width: auto; white-space: nowrap; word-break: break-word; caret-color: rgb(55, 53, 47); font-size: 14px; line-height: 1.5; min-height: 21px; font-weight: 500; overflow: hidden; text-overflow: ellipsis; pointer-events: none;">
                <span>Winnick, Ariel</span></div>
            </div>
            <div style="padding-top: 0px; padding-left: 10px; padding-bottom: 10px;">
              <div style="display: flex; align-items: center; font-size: 12px; height: 24px; white-space: nowrap;"><a
                  href="mailto:aawinnick@berkeley.edu" rel="noopener noreferrer"
                  style="display: inline-flex; color: inherit; text-decoration: none;">
                  <div class="notion-focusable" role="button" tabindex="-1"
                    style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; flex-shrink: 1; padding: 0px 4px; margin-left: -4px; border-radius: 3px;">
                    <span
                      style="line-height: 1.2; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; background-image: linear-gradient(to right, rgba(55, 53, 47, 0.16) 0%, rgba(55, 53, 47, 0.16) 100%); background-repeat: repeat-x; background-position: 0px 100%; background-size: 100% 1px;">aawinnick@berkeley.edu</span>
                  </div>
                </a></div>
              <div style="display: flex; align-items: center; font-size: 12px; height: 24px; white-space: nowrap;"><a
                  href="tel:5107070875" rel="noopener noreferrer"
                  style="display: inline-flex; color: inherit; text-decoration: none;">
                  <div class="notion-focusable" role="button" tabindex="-1"
                    style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; flex-shrink: 1; padding: 0px 4px; margin-left: -4px; border-radius: 3px;">
                    <span
                      style="line-height: 1.2; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; background-image: linear-gradient(to right, rgba(55, 53, 47, 0.16) 0%, rgba(55, 53, 47, 0.16) 100%); background-repeat: repeat-x; background-position: 0px 100%; background-size: 100% 1px;">510
                      707 0875</span></div>
                </a></div>
              <div
                style="display: flex; align-items: center; font-size: 12px; height: 24px; white-space: nowrap; padding-right: 8px;">
                <span
                  style="line-height: 1.2; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><span>416
                    Minor Hall Addition</span></span></div>
            </div>
            <div
              style="display: flex; align-items: center; color: rgba(55, 53, 47, 0.4); font-weight: 600; font-size: 12px; padding: 0px 10px 8px;">
              <svg viewBox="0 0 16 16" class="speechBubble"
                style="width: 14px; height: 14px; display: block; fill: rgba(55, 53, 47, 0.4); flex-shrink: 0; backface-visibility: hidden; margin-right: 4px;">
                <path
                  d="M4.32 15.424c.39 0 .677-.192 1.149-.609l2.344-2.064h4.116c2.057 0 3.213-1.19 3.213-3.22V4.22c0-2.03-1.156-3.22-3.213-3.22H3.213C1.163 1 0 2.19 0 4.22V9.53c0 2.037 1.196 3.22 3.165 3.22h.28v1.675c0 .608.322.998.875.998zm.342-1.531v-1.949c0-.403-.178-.56-.56-.56H3.26c-1.285 0-1.9-.65-1.9-1.894V4.26c0-1.243.615-1.893 1.9-1.893h8.627c1.278 0 1.893.65 1.893 1.894v5.23c0 1.243-.615 1.893-1.893 1.893h-4.15c-.417 0-.622.068-.909.369l-2.167 2.14z">
                </path>
              </svg>5</div>
          </div>
        </a></div>
      <div data-block-id="bc9ea701-bc92-49b7-86f5-2b32ef1aa0e3"
        class="notion-selectable notion-page-block notion-collection-item" style=""><a
          href="/omlab/Rodriguez-Raul-bc9ea701bc9249b786f52b32ef1aa0e3" rel="noopener noreferrer"
          style="display: block; color: inherit; text-decoration: none; box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px; border-radius: 3px; background: white; overflow: hidden; transition: background 100ms ease-out 0s; position: static; height: 100%;">
          <div class="notion-focusable" role="button" tabindex="-1"
            style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%; display: flex; flex-direction: column; height: 100%;">
            <div style="position: relative; width: 100%;">
              <div style="width: 100%; cursor: inherit;">
                <div style="height: 126.562px; position: relative; pointer-events: none; overflow: hidden;">
                  <div style="width: 100%; height: 100%;"><img
                      src="/image/https%3A%2F%2Fwww.notion.so%2Fimages%2Fpage-cover%2Fmet_william_morris_1878.jpg?table=block&amp;id=bc9ea701-bc92-49b7-86f5-2b32ef1aa0e3&amp;spaceId=75450f02-4cae-4ea4-8c66-07030dff8897&amp;width=450&amp;userId=c508e8ce-cd3a-4dba-bbb7-4b7888b7a5e8&amp;cache=v2"
                      style="display: block; object-fit: cover; border-radius: 1px 1px 0px 0px; width: 100%; height: 126.562px; object-position: center 5.86%;">
                  </div>
                  <div
                    style="position: absolute; left: 0px; right: 0px; bottom: 0px; border-bottom: 1px solid rgba(55, 53, 47, 0.09);">
                  </div>
                </div>
              </div>
              <div
                style="color: rgba(55, 53, 47, 0.6); fill: rgba(55, 53, 47, 0.6); font-size: 12px; background: white; box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px; display: flex; white-space: nowrap; border-radius: 3px; max-width: calc(100% - 16px); min-height: 24px; overflow: hidden; pointer-events: none; opacity: 0; font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, &quot;Apple Color Emoji&quot;, Arial, sans-serif, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; position: absolute; right: 8px; z-index: 2; top: 8px;">
                <div class="notion-focusable" role="button" tabindex="-1"
                  style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; display: flex; align-items: center; padding: 4px 6px; border-right: 1px solid rgba(55, 53, 47, 0.09); font-weight: 500; color: rgba(55, 53, 47, 0.6); fill: rgba(55, 53, 47, 0.6);">
                  Reposition</div>
                <div class="notion-focusable" role="button" tabindex="-1"
                  style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; display: flex; align-items: center; padding: 4px 6px; border-right: none; font-weight: 500; color: rgba(55, 53, 47, 0.6); fill: rgba(55, 53, 47, 0.6);">
                  <svg viewBox="0 0 13 3" class="dots"
                    style="width: 14px; height: 14px; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden;">
                    <g>
                      <path d="M3,1.5A1.5,1.5,0,1,1,1.5,0,1.5,1.5,0,0,1,3,1.5Z"></path>
                      <path d="M8,1.5A1.5,1.5,0,1,1,6.5,0,1.5,1.5,0,0,1,8,1.5Z"></path>
                      <path d="M13,1.5A1.5,1.5,0,1,1,11.5,0,1.5,1.5,0,0,1,13,1.5Z"></path>
                    </g>
                  </svg></div>
              </div>
            </div>
            <div style="width: 100%; padding: 8px 10px 6px;">
              <div class="notion-record-icon notranslate notion-focusable" role="button" aria-disabled="true"
                tabindex="-1"
                style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 18px; width: 18px; border-radius: 3px; flex-shrink: 0; float: left; margin-top: 2px; margin-right: 4px; margin-left: -2px;">
                <div style="display: flex; align-items: center; justify-content: center; height: 18px; width: 18px;">
                  <div
                    style="height: 16.2px; width: 16.2px; font-size: 16.2px; line-height: 1.1; margin-left: 0px; color: black;">
                    <span role="image" aria-label="👨🏾‍🔬"
                      style="font-family: &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, NotoColorEmoji, &quot;Noto Color Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Android Emoji&quot;, EmojiSymbols; line-height: 1em;">👨🏾‍🔬</span>
                  </div>
                </div>
              </div>
              <div contenteditable="false" spellcheck="true" placeholder="Untitled" data-root="true" class=""
                style="max-width: 100%; width: auto; white-space: nowrap; word-break: break-word; caret-color: rgb(55, 53, 47); font-size: 14px; line-height: 1.5; min-height: 21px; font-weight: 500; overflow: hidden; text-overflow: ellipsis; pointer-events: none;">
                <span>Rodriguez, Raul</span></div>
            </div>
            <div style="padding-top: 0px; padding-left: 10px; padding-bottom: 10px;">
              <div style="display: flex; align-items: center; font-size: 12px; height: 24px; white-space: nowrap;"><a
                  href="mailto:raulrod82@gmail.com" rel="noopener noreferrer"
                  style="display: inline-flex; color: inherit; text-decoration: none;">
                  <div class="notion-focusable" role="button" tabindex="-1"
                    style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; flex-shrink: 1; padding: 0px 4px; margin-left: -4px; border-radius: 3px;">
                    <span
                      style="line-height: 1.2; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; background-image: linear-gradient(to right, rgba(55, 53, 47, 0.16) 0%, rgba(55, 53, 47, 0.16) 100%); background-repeat: repeat-x; background-position: 0px 100%; background-size: 100% 1px;">raulrod82@gmail.com</span>
                  </div>
                </a></div>
            </div>
          </div>
        </a></div>
      <div data-block-id="b7264776-178f-4767-bb23-e149d2fc3f19"
        class="notion-selectable notion-page-block notion-collection-item" style=""><a
          href="/omlab/Reeves-Stephanie-b7264776178f4767bb23e149d2fc3f19" rel="noopener noreferrer"
          style="display: block; color: inherit; text-decoration: none; box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px; border-radius: 3px; background: white; overflow: hidden; transition: background 100ms ease-out 0s; position: static; height: 100%;">
          <div class="notion-focusable" role="button" tabindex="-1"
            style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%; display: flex; flex-direction: column; height: 100%;">
            <div style="position: relative; width: 100%;">
              <div style="width: 100%; cursor: inherit;">
                <div style="height: 126.562px; position: relative; pointer-events: none; overflow: hidden;">
                  <div style="width: 100%; height: 100%;"><img
                      src="/image/https%3A%2F%2Fwww.notion.so%2Fimages%2Fpage-cover%2Fnasa_fingerprints_of_water_on_the_sand.jpg?table=block&amp;id=b7264776-178f-4767-bb23-e149d2fc3f19&amp;spaceId=75450f02-4cae-4ea4-8c66-07030dff8897&amp;width=450&amp;userId=c508e8ce-cd3a-4dba-bbb7-4b7888b7a5e8&amp;cache=v2"
                      style="display: block; object-fit: cover; border-radius: 1px 1px 0px 0px; width: 100%; height: 126.562px; object-position: center 60%;">
                  </div>
                  <div
                    style="position: absolute; left: 0px; right: 0px; bottom: 0px; border-bottom: 1px solid rgba(55, 53, 47, 0.09);">
                  </div>
                </div>
              </div>
              <div
                style="color: rgba(55, 53, 47, 0.6); fill: rgba(55, 53, 47, 0.6); font-size: 12px; background: white; box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px; display: flex; white-space: nowrap; border-radius: 3px; max-width: calc(100% - 16px); min-height: 24px; overflow: hidden; pointer-events: none; opacity: 0; font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, &quot;Apple Color Emoji&quot;, Arial, sans-serif, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; position: absolute; right: 8px; z-index: 2; top: 8px;">
                <div class="notion-focusable" role="button" tabindex="-1"
                  style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; display: flex; align-items: center; padding: 4px 6px; border-right: 1px solid rgba(55, 53, 47, 0.09); font-weight: 500; color: rgba(55, 53, 47, 0.6); fill: rgba(55, 53, 47, 0.6);">
                  Reposition</div>
                <div class="notion-focusable" role="button" tabindex="-1"
                  style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; display: flex; align-items: center; padding: 4px 6px; border-right: none; font-weight: 500; color: rgba(55, 53, 47, 0.6); fill: rgba(55, 53, 47, 0.6);">
                  <svg viewBox="0 0 13 3" class="dots"
                    style="width: 14px; height: 14px; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden;">
                    <g>
                      <path d="M3,1.5A1.5,1.5,0,1,1,1.5,0,1.5,1.5,0,0,1,3,1.5Z"></path>
                      <path d="M8,1.5A1.5,1.5,0,1,1,6.5,0,1.5,1.5,0,0,1,8,1.5Z"></path>
                      <path d="M13,1.5A1.5,1.5,0,1,1,11.5,0,1.5,1.5,0,0,1,13,1.5Z"></path>
                    </g>
                  </svg></div>
              </div>
            </div>
            <div style="width: 100%; padding: 8px 10px 6px;">
              <div class="notion-record-icon notranslate notion-focusable" role="button" aria-disabled="true"
                tabindex="-1"
                style="user-select: none; transition: background 20ms ease-in 0s; display: flex; align-items: center; justify-content: center; height: 18px; width: 18px; border-radius: 3px; flex-shrink: 0; float: left; margin-top: 2px; margin-right: 4px; margin-left: -2px;">
                <div>
                  <div style="width: 100%; height: 100%;"><img
                      src="/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F00507b48-4d2b-4641-a14f-2b75b390fecb%2Fsteph-headshot.jpg?table=block&amp;id=b7264776-178f-4767-bb23-e149d2fc3f19&amp;width=40&amp;userId=c508e8ce-cd3a-4dba-bbb7-4b7888b7a5e8&amp;cache=v2"
                      style="display: block; object-fit: cover; border-radius: 3px; width: 15.984px; height: 15.984px; transition: opacity 100ms ease-out 0s;">
                  </div>
                </div>
              </div>
              <div contenteditable="false" spellcheck="true" placeholder="Untitled" data-root="true" class=""
                style="max-width: 100%; width: auto; white-space: nowrap; word-break: break-word; caret-color: rgb(55, 53, 47); font-size: 14px; line-height: 1.5; min-height: 21px; font-weight: 500; overflow: hidden; text-overflow: ellipsis; pointer-events: none;">
                <span>Reeves, Stephanie</span></div>
            </div>
            <div style="padding-top: 0px; padding-left: 10px; padding-bottom: 10px;">
              <div style="display: flex; align-items: center; font-size: 12px; height: 24px; white-space: nowrap;"><a
                  href="mailto:stephanie_reeves@berkeley.edu" rel="noopener noreferrer"
                  style="display: inline-flex; color: inherit; text-decoration: none;">
                  <div class="notion-focusable" role="button" tabindex="-1"
                    style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; flex-shrink: 1; padding: 0px 4px; margin-left: -4px; border-radius: 3px;">
                    <span
                      style="line-height: 1.2; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; background-image: linear-gradient(to right, rgba(55, 53, 47, 0.16) 0%, rgba(55, 53, 47, 0.16) 100%); background-repeat: repeat-x; background-position: 0px 100%; background-size: 100% 1px;">stephanie_reeves@berkeley.edu</span>
                  </div>
                </a></div>
            </div>
          </div>
        </a></div>
      <div data-block-id="2d416296-2a9a-4fd7-b42a-7aa383d2088a"
        class="notion-selectable notion-page-block notion-collection-item" style=""><a
          href="/omlab/Braun-Alisa-2d4162962a9a4fd7b42a7aa383d2088a" rel="noopener noreferrer"
          style="display: block; color: inherit; text-decoration: none; box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px; border-radius: 3px; background: white; overflow: hidden; transition: background 100ms ease-out 0s; position: static; height: 100%;">
          <div class="notion-focusable" role="button" tabindex="-1"
            style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%; display: flex; flex-direction: column; height: 100%;">
            <div style="position: relative; width: 100%;">
              <div style="width: 100%; cursor: inherit;">
                <div style="height: 126.562px; position: relative; pointer-events: none; overflow: hidden;">
                  <div style="width: 100%; height: 100%;"><img
                      src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                      style="display: block; object-fit: cover; border-radius: 1px 1px 0px 0px; background: white; width: 100%; height: 126.562px; object-position: center 26.89%;">
                  </div>
                  <div
                    style="position: absolute; left: 0px; right: 0px; bottom: 0px; border-bottom: 1px solid rgba(55, 53, 47, 0.09);">
                  </div>
                </div>
              </div>
              <div
                style="color: rgba(55, 53, 47, 0.6); fill: rgba(55, 53, 47, 0.6); font-size: 12px; background: white; box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px; display: flex; white-space: nowrap; border-radius: 3px; max-width: calc(100% - 16px); min-height: 24px; overflow: hidden; pointer-events: none; opacity: 0; font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, &quot;Apple Color Emoji&quot;, Arial, sans-serif, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; position: absolute; right: 8px; z-index: 2; top: 8px;">
                <div class="notion-focusable" role="button" tabindex="-1"
                  style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; display: flex; align-items: center; padding: 4px 6px; border-right: 1px solid rgba(55, 53, 47, 0.09); font-weight: 500; color: rgba(55, 53, 47, 0.6); fill: rgba(55, 53, 47, 0.6);">
                  Reposition</div>
                <div class="notion-focusable" role="button" tabindex="-1"
                  style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; display: flex; align-items: center; padding: 4px 6px; border-right: none; font-weight: 500; color: rgba(55, 53, 47, 0.6); fill: rgba(55, 53, 47, 0.6);">
                  <svg viewBox="0 0 13 3" class="dots"
                    style="width: 14px; height: 14px; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden;">
                    <g>
                      <path d="M3,1.5A1.5,1.5,0,1,1,1.5,0,1.5,1.5,0,0,1,3,1.5Z"></path>
                      <path d="M8,1.5A1.5,1.5,0,1,1,6.5,0,1.5,1.5,0,0,1,8,1.5Z"></path>
                      <path d="M13,1.5A1.5,1.5,0,1,1,11.5,0,1.5,1.5,0,0,1,13,1.5Z"></path>
                    </g>
                  </svg></div>
              </div>
            </div>
            <div style="width: 100%; padding: 8px 10px 6px;">
              <div contenteditable="false" spellcheck="true" placeholder="Untitled" data-root="true" class=""
                style="max-width: 100%; width: auto; white-space: nowrap; word-break: break-word; caret-color: rgb(55, 53, 47); font-size: 14px; line-height: 1.5; min-height: 21px; font-weight: 500; overflow: hidden; text-overflow: ellipsis; pointer-events: none;">
                <span>Braun, Alisa</span></div>
            </div>
            <div style="padding-top: 0px; padding-left: 10px; padding-bottom: 10px;">
              <div style="display: flex; align-items: center; font-size: 12px; height: 24px; white-space: nowrap;"><a
                  href="mailto:alisa_braun@berkeley.edu" rel="noopener noreferrer"
                  style="display: inline-flex; color: inherit; text-decoration: none;">
                  <div class="notion-focusable" role="button" tabindex="-1"
                    style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; flex-shrink: 1; padding: 0px 4px; margin-left: -4px; border-radius: 3px;">
                    <span
                      style="line-height: 1.2; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; background-image: linear-gradient(to right, rgba(55, 53, 47, 0.16) 0%, rgba(55, 53, 47, 0.16) 100%); background-repeat: repeat-x; background-position: 0px 100%; background-size: 100% 1px;">alisa_braun@berkeley.edu</span>
                  </div>
                </a></div>
            </div>
          </div>
        </a></div>
      <div data-block-id="6f0dbdef-3332-4b6e-aa85-e483f5572248"
        class="notion-selectable notion-page-block notion-collection-item" style=""><a
          href="/omlab/Girum-Mihret-6f0dbdef33324b6eaa85e483f5572248" rel="noopener noreferrer"
          style="display: block; color: inherit; text-decoration: none; box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px; border-radius: 3px; background: white; overflow: hidden; transition: background 100ms ease-out 0s; position: static; height: 100%;">
          <div class="notion-focusable" role="button" tabindex="-1"
            style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%; display: flex; flex-direction: column; height: 100%;">
            <div style="position: relative; width: 100%;">
              <div style="width: 100%; cursor: inherit;">
                <div style="height: 126.562px;"></div>
              </div>
              <div
                style="color: rgba(55, 53, 47, 0.6); fill: rgba(55, 53, 47, 0.6); font-size: 12px; background: white; box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px; display: flex; white-space: nowrap; border-radius: 3px; max-width: calc(100% - 16px); min-height: 24px; overflow: hidden; pointer-events: none; opacity: 0; font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, &quot;Apple Color Emoji&quot;, Arial, sans-serif, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; position: absolute; right: 8px; z-index: 2; top: 8px;">
                <div class="notion-focusable" role="button" tabindex="-1"
                  style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; display: flex; align-items: center; padding: 4px 6px; border-right: none; font-weight: 500; color: rgba(55, 53, 47, 0.6); fill: rgba(55, 53, 47, 0.6);">
                  <svg viewBox="0 0 13 3" class="dots"
                    style="width: 14px; height: 14px; display: block; fill: inherit; flex-shrink: 0; backface-visibility: hidden;">
                    <g>
                      <path d="M3,1.5A1.5,1.5,0,1,1,1.5,0,1.5,1.5,0,0,1,3,1.5Z"></path>
                      <path d="M8,1.5A1.5,1.5,0,1,1,6.5,0,1.5,1.5,0,0,1,8,1.5Z"></path>
                      <path d="M13,1.5A1.5,1.5,0,1,1,11.5,0,1.5,1.5,0,0,1,13,1.5Z"></path>
                    </g>
                  </svg></div>
              </div>
            </div>
            <div style="width: 100%; padding: 8px 10px 10px;">
              <div contenteditable="false" spellcheck="true" placeholder="Untitled" data-root="true" class=""
                style="max-width: 100%; width: auto; white-space: nowrap; word-break: break-word; caret-color: rgb(55, 53, 47); font-size: 14px; line-height: 1.5; min-height: 21px; font-weight: 500; overflow: hidden; text-overflow: ellipsis; pointer-events: none;">
                <span>Girum, Mihret</span></div>
            </div>
          </div>
        </a></div>
      <div class="notion-focusable" role="button" tabindex="-1"
        style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; display: flex; align-items: center; justify-content: center; font-size: 14px; border-radius: 3px; box-shadow: rgba(55, 53, 47, 0.09) 0px 0px 0px 1px inset; min-height: 40px;">
        <div style="display: flex; align-items: center; margin-left: -6px;"><svg viewBox="0 0 16 16" class="plus"
            style="width: 14px; height: 14px; display: block; fill: rgba(55, 53, 47, 0.3); flex-shrink: 0; backface-visibility: hidden; margin-left: -1px; margin-right: 6px;">
            <path
              d="M7.977 14.963c.407 0 .747-.324.747-.723V8.72h5.362c.399 0 .74-.34.74-.747a.746.746 0 00-.74-.738H8.724V1.706c0-.398-.34-.722-.747-.722a.732.732 0 00-.739.722v5.529h-5.37a.746.746 0 00-.74.738c0 .407.341.747.74.747h5.37v5.52c0 .399.332.723.739.723z">
            </path>
          </svg>
          <div style="color: rgba(55, 53, 47, 0.3);">New</div>
        </div>
      </div>
    </div>
  </div>
</div>